<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="ConnectionStringEOS" connectionString="Data Source=Server025;Initial Catalog=EOS;Persist Security Info=True;User ID=sa;Password=bioSQL123;Application Name=Lupin;" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="ConnectionStringLupin" connectionString="Data Source=Server025;Initial Catalog=LUPIN;Persist Security Info=True;User ID=sa;Password=bioSQL123;Application Name=Lupin;" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>
</configuration>