<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <connectionStrings>
        <add name="ConnectionStringEOS" connectionString="Data Source=Server025;Initial Catalog=EOS;Persist Security Info=True;User ID=sa;Password=bioSQL123;Application Name=Lupin;"
            providerName="System.Data.SqlClient" />
        <add name="ConnectionStringLupin" connectionString="Data Source=Server025;Initial Catalog=Lupin;Persist Security Info=True;User ID=sa;Password=bioSQL123;Application Name=Lupin;"
            providerName="System.Data.SqlClient" />
        <add name="EOS.UI.Properties.Settings.EOSConnectionString" connectionString="Data Source=Server025;Initial Catalog=EOS;Persist Security Info=True;User ID=sa;Password=bioSQL123"
            providerName="System.Data.SqlClient" />
        <add name="EOS.UI.Properties.Settings.LUPINConnectionString"
            connectionString="Data Source=Server026;Initial Catalog=LUPIN;Persist Security Info=True;User ID=sa;Password=bioSQL456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>